<a href="https://colab.research.google.com/github/rakib181/heisenberg/blob/main/AiPracticeClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a=int(5.2)
print(type(a))
print(a)

<class 'int'>
5

In [7]:
a , b ,c = "Red","Green","Yellow"
print(a)

Red

In [9]:
a=b=c=10
print(a)

10

In [10]:
x1="Hello Rakib"
print("Type of x1 : ",type(x1))

Type of x1 :  <class 'str'>

In [17]:
x2=[23,34,23,22]
print("X2 : ",x2)
print("X2 : ",x2[2])
print(type(x2))

X2 :  [23, 34, 23, 22]
X2 :  23
<class 'list'>

In [19]:
x2=range(10)
print(x2)
print(type(x2))

range(0, 10)
<class 'range'>

In [20]:
x2=(23,34,23,22)
print(type(x2))

<class 'tuple'>

In [21]:
a = int(12)
print("a: ", a)  # Output: a: 12
 
a = int(23.33)
print(a)  # Output: a: 23
 
a = int("5")
print("a: ", a)  # Output: a: 5
print("type of a: ", type(a))  # Output: 3<class 'int'>
 
b = float(12)
print("b: ", b)  # Output: 12.0
 
b = float(23.33)
print("b: ", b)  # Output: 23.33
 
b = float("5")
print("b: ", b)  # Output: 5.0
print("type of b: ", type(b))  # Output: 3<class

a:  12
23
a:  5
type of a:  <class 'int'>
b:  12.0
b:  23.33
b:  5.0
type of b:  <class 'float'>

In [25]:
s = """ Lorem ipsum dolor sit amet 
consecrated advising elite sed do emus 
temper incident ut labor et door magna alia"""
print(len(s))

112

In [31]:

for x in "APPLE":
     print(x)

A
P
P
L
E

In [32]:
text = "Hello quraishi kmn asos?"
print("kmn" in text)

True

In [35]:
text = "Hello Quraishi kmn asos?"
print("kmn" not in text)

False

In [36]:
print(text[6:13])

Quraish

In [37]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))  # Output: I want 3 pieces of item 567 for 49.95 dollars.
 
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))  # Output: I want to pay 49.95 dollars for 3 pieces of item 567.

I want 3 pieces of item 567 for 49.95 dollars.
I want to pay 49.95 dollars for 3 pieces of item 567.

In [40]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)

True

In [41]:
age = 15
if age >= 18:
    print("You are eligible to vote !!")
else:
    print("You aren't eligible to vote !!")

You aren't eligible to vote !!

In [54]:
i=1
while(i<10):
  print(i, end=" ") 
  i += 1
print("Hello")
print()

1 2 3 4 5 6 7 8 9 Hello

In [55]:
n=[2,3,6,0,1]
for v in n:
  print(v)

2
3
6
0
1

In [56]:
fruits = "Apple","Banana","Qureshi"
for x in fruits:
  print(x)

Apple
Banana
Qureshi

In [57]:
for i in range(5):
  print(i, end=" ")

0 1 2 3 4